[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-ms-dos-executable;
Actions=Addexetolutris;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
Icon=lutris

[Desktop Action Addexetolutris]
Icon=lutris
Name=Add Game to Lutris
Name[en]=Add Game to Lutris
Name[fr]=Ajouter un jeu à Lutris
Name[it]=Aggiungere gioco a Lutris
Name[ru]=Добавить игру в Lutris
Name[ua]=Додати гру в Lutris
Exec=echo "name: %n\ngame_slug: %n\nversion: Installer\nslug: my-game-installer\nrunner: wine\n\nscript:\n  game:\n    exe:" '%u' > ~/.config/lutris/games/newgame.yml ; lutris -i ~/.config/lutris/games/newgame.yml
