[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[01D73FBCA0E01300]
row=2
col=0

[9C7EF4657EF43A1A]
row=1
col=0

[4E21-0000]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/ben]
row=5
col=0

