[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ben/Desktop/Jade Empire Special Edition.desktop]
row=3
col=0

[/home/ben/Desktop/STAR WARS Knights of the Old Republic.desktop]
row=2
col=0

[/home/ben/Desktop/net.lutris.star-wars-the-old-republic-52.desktop]
row=4
col=0

[/home/ben/Desktop/steam.desktop]
row=1
col=0

[/home/ben/Desktop/HackMan-Linux-2020.02.09-x86_64.iso]
row=5
col=0

[Trash]
row=8
col=17

[/home/ben]
row=0
col=0

