[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/liveuser/Desktop/calamares.desktop]
row=1
col=0

[/home/liveuser/Desktop/stormos_video_recorder.desktop]
row=0
col=0

[/home/liveuser/Desktop/abif.desktop]
row=2
col=0

