[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/test/Desktop/axelc8.desktop]
row=2
col=0

[/home/test/Desktop/wgetm.desktop]
row=4
col=0

[/home/test/Desktop/playmovie.desktop]
row=1
col=0

[/home/test/Desktop/menuxstorm.desktop]
row=3
col=0

[Trash]
row=8
col=17

[/home/test]
row=0
col=0

