[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ben/Desktop/StormOS_KDE-2023.01.20-x86_64.iso.torrent]
row=1
col=0

[/home/ben/Desktop/StormOS_XFCE-2023.01.20-x86_64.iso.torrent]
row=2
col=0

[Trash]
row=5
col=11

[/home/ben]
row=0
col=0

