[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ben/Desktop/games]
row=0
col=0

[/home/ben/Desktop/Samsung-NT750XDA-KF59U-Hackintosh]
row=8
col=1

[/home/ben/Desktop/EFI]
row=2
col=1

[/home/ben/Desktop/stormos-build-files]
row=0
col=1

[/home/ben/Desktop/Infinity Launcher.desktop]
row=3
col=2

[/home/ben/Desktop/stormos-PKGBUILDs]
row=1
col=1

[/home/ben/Desktop/mac]
row=7
col=1

[/home/ben/Desktop/stormos-kde-config]
row=0
col=2

[/home/ben/Desktop/stormos-calamares-xfce-config]
row=8
col=0

[/home/ben/Desktop/stormos-xfce-config]
row=1
col=2

[/home/ben/Desktop/EFI-Lenovo]
row=5
col=2

[/home/ben/Desktop/stormos]
row=6
col=1

[/home/ben/Desktop/stormos-calamares]
row=4
col=1

[/home/ben/Desktop/directx]
row=2
col=2

[/home/ben/Desktop/wget-list-sysv]
row=5
col=1

[/home/ben/Desktop/LFS-BOOK.html]
row=7
col=0

[/home/ben/Desktop/stormos-calamares-kde-config]
row=3
col=1

[/home/ben/Desktop/SWGEmu]
row=1
col=0

[832a2a41-94f2-3a9a-9fd0-9ddd40b67dfc]
row=6
col=0

[4E21-0000]
row=4
col=2

[2E57-7025]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/ben]
row=5
col=0

