[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ben/Desktop/menuxstorm.desktop]
row=1
col=1

[/home/ben/Desktop/Cheat Engine.lnk]
row=0
col=1

[/home/ben/Desktop/axelc8.desktop]
row=4
col=0

[/home/ben/Desktop/playmovie.desktop]
row=2
col=1

[/home/ben/Desktop/wgetm.desktop]
row=2
col=0

[/home/ben/Desktop/Cheat Engine.desktop]
row=3
col=1

[/home/ben/Desktop/lfs-scripts]
row=1
col=2

[/home/ben/Desktop/SWGEmu - Copy]
row=0
col=2

[/home/ben/Desktop/SWGEmu Launchpad.desktop]
row=5
col=1

[/home/ben/Desktop/SWGEmu Launchpad.lnk]
row=4
col=1

[Trash]
row=1
col=0

[/home/ben]
row=0
col=0

