[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ben/Desktop/steam-native.desktop]
row=2
col=0

[/home/ben/Desktop/chrome-jgeocpdicgmkeemopbanhokmhcgcflmi-Default.desktop]
row=5
col=0

[/home/ben/Desktop/net.lutris.battlenet-2.desktop]
row=3
col=0

[/home/ben/Desktop/net.lutris.epic-games-store-4.desktop]
row=1
col=0

[/home/ben/Desktop/net.lutris.twitch-app-3.desktop]
row=4
col=0

[Trash]
row=0
col=1

[/home/ben]
row=0
col=0

