[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ben/Desktop/SWGSource Client v3.0]
row=2
col=1

[/home/ben/Desktop/steamapps]
row=4
col=1

[/home/ben/Desktop/Sentinels Republic.desktop]
row=2
col=0

[/home/ben/Desktop/Downloads]
row=3
col=1

[/home/ben/Desktop/StormOS Youtube Player.desktop]
row=6
col=0

[/home/ben/Desktop/Infinity Launcher.desktop]
row=3
col=0

[/home/ben/Desktop/PSX game]
row=1
col=1

[/home/ben/Desktop/steam.desktop]
row=1
col=0

[/home/ben/Desktop/SWGLegendsLauncher]
row=5
col=1

[/home/ben/Desktop/lfs-scripts]
row=5
col=0

[/home/ben/Desktop/EFI-Legion]
row=4
col=0

[Trash]
row=8
col=17

[/home/ben]
row=0
col=0

