[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ben/Desktop/config-lenovo]
row=1
col=0

[/home/ben/Desktop/config-venom]
row=2
col=0

[/home/ben/Desktop/neofetch]
row=2
col=2

[/home/ben/Desktop/jhalfs]
row=0
col=1

[/home/ben/Desktop/steam.desktop]
row=3
col=0

[/home/ben/Desktop/calamares]
row=1
col=3

[/home/ben/Desktop/blfs_root-1]
row=0
col=3

[/home/ben/Desktop/launcher]
row=3
col=1

[/home/ben/Desktop/blfs_root]
row=3
col=2

[/home/ben/Desktop/XinnixOS-Repo]
row=1
col=2

[/home/ben/Desktop/SWGLegendsLauncher]
row=1
col=1

[/home/ben/Desktop/Lucasfilm Ltd]
row=2
col=1

[Trash]
row=0
col=2

[/home/ben]
row=0
col=0

