[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ben/Desktop/games]
row=3
col=1

[/home/ben/Desktop/OpenCore-Legacy-Patcher]
row=5
col=1

[/home/ben/Desktop/Samsung-NT750XDA-KF59U-Hackintosh]
row=6
col=1

[/home/ben/Desktop/EFI]
row=4
col=0

[/home/ben/Desktop/stormos-build-files]
row=8
col=1

[/home/ben/Desktop/Farstar-PreCU-Launcher]
row=7
col=2

[/home/ben/Desktop/stormos-calamares-xfce-config]
row=2
col=2

[/home/ben/Desktop/stormos-PKGBUILDs]
row=4
col=2

[/home/ben/Desktop/stormos-kde-config]
row=3
col=2

[/home/ben/Desktop/EFI-Ben-ASUS]
row=0
col=1

[/home/ben/Desktop/SWG Beyond.lnk]
row=6
col=3

[/home/ben/Desktop/StarWarsGalaxies]
row=5
col=0

[/home/ben/Desktop/stormos-xfce-config]
row=6
col=2

[/home/ben/Desktop/EFI-Lenovo]
row=1
col=1

[/home/ben/Desktop/stormos]
row=7
col=1

[/home/ben/Desktop/SWG Beyond.desktop]
row=5
col=3

[/home/ben/Desktop/stormos-calamares]
row=0
col=2

[/home/ben/Desktop/Beyond]
row=6
col=0

[/home/ben/Desktop/directx]
row=7
col=0

[/home/ben/Desktop/stormos-reborn-scripts]
row=5
col=2

[/home/ben/Desktop/mac]
row=4
col=1

[/home/ben/Desktop/wget-list-sysv]
row=7
col=3

[/home/ben/Desktop/LFS-BOOK.html]
row=1
col=3

[/home/ben/Desktop/stormos-calamares-kde-config]
row=1
col=2

[/home/ben/Desktop/SWGEmu]
row=0
col=3

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/ben]
row=1
col=0

