[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ben/Desktop/stormos-build-files]
row=2
col=0

[/home/ben/Desktop/livegui-amd64-latest.iso]
row=3
col=0

[/home/ben/Desktop/steam.desktop]
row=1
col=0

[/home/ben/Desktop/kotor 1080]
row=4
col=0

[/home/ben/Desktop/launcher]
row=5
col=0

[Trash]
row=8
col=17

[/home/ben]
row=0
col=0

