[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ben/Desktop/config-lenovo]
row=6
col=0

[/home/ben/Desktop/config-venom]
row=5
col=0

[/home/ben/Desktop/steam.desktop]
row=4
col=0

[/home/ben/Desktop/SWGLegendsLauncher]
row=3
col=0

[/home/ben/Desktop/SWG Epic]
row=8
col=0

[/home/ben/Desktop/jhalfs]
row=2
col=0

[/home/ben/Desktop/lfs-backup-main.tar.gz]
row=7
col=0

[/home/ben/Desktop/Infinity TC Launcher.desktop]
row=1
col=0

[Trash]
row=8
col=17

[/home/ben]
row=0
col=0

