[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/stormdev/Desktop/StormOS-2020.07.26-x86_64.iso]
row=2
col=0

[/home/stormdev/Desktop/net.lutris.star-wars-the-old-republic-54.desktop]
row=1
col=0

[/home/stormdev/Desktop/SWG RestorationCU]
row=0
col=0

