[Desktop Entry]
Version=1.0
Type=Application
Name=xfwm4
Comment=
Exec=xfwm4 --replace & disown
Icon=xfce4-panel-menu
Path=
Terminal=false
StartupNotify=false
