[Desktop Entry]
Version=1.0
Type=Application
Name=xfwm4
Comment=
Exec=xfwm4 --replace
Icon=org.xfce.panel.launcher
Path=
Terminal=false
StartupNotify=false
