[Desktop Entry]
Version=1.0
Type=Application
Name=xfwm4
Comment=
Exec=xfwm4 --replace
Icon=desktop-environment-xfce
Path=
Terminal=false
StartupNotify=false
