Package: oxygen-mix
Version: 1.4
Architecture: amd64
Maintainer: Alessandro Longo <alessandro.longo@kdemail.net>
Installed-Size: 44528
Depends: oxygen5-icon-theme
Section: unknown
Priority: optional
Homepage: https://store.kde.org/p/1160037/
Description: Oxygen icons with folders from 4.6 plus new mimetypes icons.
