[user]
pinned=/usr/share/applications/xfce4-terminal.desktop;/usr/share/applications/firefox.desktop;/usr/share/applications/vlc.desktop;/usr/share/applications/gparted.desktop;/usr/share/applications/org.manjaro.pamac.manager.desktop;
