[user]
pinned=/usr/share/applications/xfce4-terminal.desktop;/usr/share/applications/chromium.desktop;/usr/share/applications/org.manjaro.pamac.manager.desktop;/usr/share/applications/gparted.desktop;/usr/share/applications/org.xfce.mousepad.desktop;
