[user]
pinned=/usr/share/applications/thunar.desktop;/usr/share/applications/xfce4-terminal.desktop;/usr/share/applications/org.manjaro.pamac.manager.desktop;/usr/share/applications/chromium.desktop;
