[Desktop Entry]
Version=1.0
Type=Application
Name=StormOS Optimus Switcher
Comment=
Exec=/usr/local/bin/optimus
Icon=renamed-nvidia
Path=
Terminal=false
StartupNotify=false
