[Desktop Entry]
Version=1.0
Type=Application
Name=StormOS-offline-Installer
Comment=StormOS-offline-Installer
Exec=pkexec /offline_installer/installer
Icon=/usr/share/pixmaps/stormos/menubutton.png
Path=
Terminal=true
StartupNotify=false
