[Desktop Entry]
Version=1.0
Type=Application
Name=StormOS-offline-Installer
Comment=StormOS-offline-Installer
Exec=/home/ben/Desktop/stormos-build-files/install-stormos-xfce/airootfs/offline_installer/installer
Icon=/usr/share/pixmaps/stormos/menubutton.png
Path=
Terminal=true
StartupNotify=false
