[Desktop Entry]
Version=1.0
Type=Application
Name=StormOS Studying Timer
Comment=
Exec=/usr/local/bin/ptimer
Icon=timer
Path=
Terminal=false
StartupNotify=false
