[Desktop Entry]
Version=1.0
Type=Application
Name=StormOS_Expenses_Calculator
Comment=
Exec=StormOS_Expenses_Calculator
Icon=accessories-calculator
Path=
Terminal=false
StartupNotify=false
