[Desktop Entry]
Version=1.0
Type=Application
Name=stormos_video_recorder
Comment=a custom video and stream recorder
Exec=/usr/bin/StormOS_SR_v4.5_hybrid_public
Icon=screenrecorder
Path=
Terminal=false
StartupNotify=false
