[Desktop Entry]
Version=1.0
Type=Application
Name=wgetm
Comment=downloader for movie files
Exec=/usr/bin/wgetm
Icon=amarok
Path=
Terminal=false
StartupNotify=false
