[Desktop Entry]
Version=1.0
Type=Application
Name=Download Manager
Comment=StormOS Download Manager
Exec=/usr/local/bin/sdm
Icon=downloader-arrow
Path=
Terminal=false
StartupNotify=false
