[Desktop Entry]
Version=1.0
Type=Application
Name=StormOS TV Player
Comment=
Exec=/usr/local/bin/stv
Icon=iptvnator
Path=
Terminal=false
StartupNotify=false
X-XFCE-Source=file:///usr/share/applications/StormOS%20TV%20Player.desktop
