[Desktop Entry]
Version=1.0
Type=Application
Name=StormOS Video Player
Comment=
Exec=/usr/local/bin/shlst
Icon=multimedia-video-player
Path=
Terminal=false
StartupNotify=false
X-XFCE-Source=file:///usr/share/applications/StormOS%20Video%20Player.desktop
