[Desktop Entry]
Version=1.0
Type=Application
Name=StormOS Calendar
Comment=
Exec=/usr/local/bin/pcal
Icon=view-calendar-week
Path=
Terminal=false
StartupNotify=false
X-XFCE-Source=file:///usr/share/applications/StormOS%20Calendar.desktop
