[Desktop Entry]
Version=1.0
Type=Application
Name=StormOS Bookmarks Manager
Comment=
Exec=/usr/local/bin/bmqt
Icon=bookmark-add
Path=
Terminal=false
StartupNotify=false
X-XFCE-Source=file:///usr/share/applications/StormOS%20Bookmarks%20Manager.desktop
