[Desktop Entry]
Version=1.0
Type=Application
Name=StormOS Browser
Comment=
Exec=/usr/local/bin/stormy
Icon=web-browser
Path=
Terminal=false
StartupNotify=false
X-XFCE-Source=file:///usr/share/applications/StormOS%20Browser.desktop
